# DS App Skeleton

# Dependencies
node_modules/
dist/
*.log

# Backend
backend/dist/
*.exe

# Frontend
frontend/dist/

# Infrastructure
infra/cdk.out/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
*.env

# Test coverage
coverage/
*.out
